<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Editing twilio's Details</h2> 
    <ol class="breadcrumb">
     <li><%= link_to '<< Back', twilio_confs_path %></li>
    </ol>
  </div>
</div>


<%= render 'form', twilio_conf: @twilio_conf %>
