<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Add a New Type of service</h2> 
    <ol class="breadcrumb">
      <li><%= link_to '<< Back', service_types_path %></li>
    </ol>
  </div>
</div>
<%= render 'form', service_type: @service_type %>
