<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Add a New Order</h2> 
    <ol class="breadcrumb">
      <li>kjsad</li>
      <li>ada</li>
      <li>sd</li>
    </ol>
  </div>
</div>
<%= render 'form', order: @order %>

<%= link_to 'Back' %>
