<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Add a New Driver</h2> 
    <ol class="breadcrumb">
      <li>kjsad</li>
      <li>ada</li>
      <li><%= link_to 'Back', drivers_path %></li>
    </ol>
  </div>
</div>
	
<%= render 'form', driver: @driver %>
	


